input{
  border: 2px solid bisque;
  border-radius: 4px;
  padding: 12px 20px;
  font: Helvetica;
}
div{
    display:block;
}
h1{
    font: oblique bold 200% cursive;
    background-color: bisque;
    padding: 20px;
}