
h1{
    font: oblique bold 200% cursive;
    background-color: bisque;
    padding: 20px;
}

body{
    background: url(fondo.png);
    background-size: 100%;
    font: oblique bold 200% cursive;
}

commandButton{
    font: oblique bold 200% cursive;
    background-color: bisque;
}

input{
  border: 2px solid red;
  border-radius: 4px;
}