/AdministradorPlanillaObrera/target/
/AdministradorPlanillaObrera/nbproject/private/
/AdministradorPlanillaObrera/build/
/AdministradorPlanillaObrera/dist/
/AdminPlanillaObrera/target/
/AdminPlanillaObrera/nbproject/private/
/AdminPlanillaObrera/build/