h2{
    font: oblique bold 200% cursive;
    background-color:#518d26;
    padding: 20px;
}
h3{
    font: oblique bold 150% cursive;
    background-color:#518d26;
    padding: 10px;
}

body{
    background:#e0d0aa;
    background-size: 100%;
}

Etiquetas{
   font: oblique bold 100% cursive;
}