
h2{
    font: oblique bold 200% cursive;
    background-color: bisque;
    padding: 20px;
}

Etiquetas{
    font: oblique bold 150% cursive;

}

body{
    background: url(fondo.png);
    background-size: 100%;
}

commandButton{
    font: oblique bold 200% cursive;
    background-color: bisque;
}
